.header {
    background-color: #ffa500;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 200%;
    text-align: center;
}

.header img {
    max-width: 320px;
    width: 100%;
}

.teaser {
    background-color: #ffffff;
    border: 1px solid #ffa500;
    margin: 1px auto;
}

.introduction {
    color: #ffa500;
    font-size: 150%;
    text-align: center;
}

.introduction img {
    max-width: 250px;
    width: 100%;
}

.teaser-image {
    padding: 0px;
    overflow: hidden;
}

.teaser-image img {
    display: block;
    margin: 15%;
    width: 70%;
}

.first-step {
    background-color: #baf9ff;
    font-size: 150%;
    text-align: center;
}

.first-step input {
    background-color: #ffffff;
    border: 2px dashed #1F7780;
    border-radius: 5px;
    font-size: 60%;
    margin: 10px auto;
    padding: 10px;
}

.second-step {
    text-align: center;
}

.charavatar-progress {
    background-color: #baf9ff;
    color: #000000;
    padding: 10px;
    text-align: center;
}

.share-avatar {
    text-align: center;
}

.canvas {
    margin: 10px;
    text-align: center;
    width: 100%;
}

.canvas svg {
    max-height: 480px;
    width: 100%;
}

.canvas img {
    max-width: 480px;
    text-align: center;
    width: 100%;
}

.share {
    margin: 10px auto;
    text-align: center;
}

.share-url-field {
    float: none;
    margin: 5px auto;
}

.social-button {
    height: 40px;
    margin: 10px 0;
}